<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhw.admin.mapper.BrokerAdvisoryMapper">


    <select id="selectBrokerAdvisoryList" resultType="com.bhw.admin.pojo.BrokerAdvisory">
        SELECT tb.*,tbu.`USERNAME` AS userName,tbu.`PHOTO` AS userPhoto,tu.`USERNAME` AS brokerName,tu.`PHOTO` AS brokerPhoto FROM `T_BROKERADVISORY` tb
        LEFT JOIN `T_BHW_USER` tbu ON tbu.`ID` = tb.`USERID`
        LEFT JOIN `T_USER` tu ON tu.`ID` = tb.`BROKERID`
        where  1=1
        <if test="null != brokerAdv.userId">
            and tb.`USERID`= #{brokerAdv.userId}
        </if>
        <if test="null != brokerAdv.brokerId">
            and tb.`BROKERID`= #{brokerAdv.brokerId}
        </if>
        ORDER BY tb.`CREATETIME` ASC
    </select>
</mapper>