<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhw.admin.mapper.ListedAdvisoryMapper">
   <insert id="insertOne" parameterType="com.bhw.admin.pojo.ListedAdvisory">
      INSERT INTO T_LISTED_ADVISORY(ID,NAME,PHONE,REMARK)
      VALUES (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
   </insert>
</mapper>