<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhw.admin.mapper.TServerMapper">
    <sql id="BASE_SQL">
        id,title,xgms,xq,icon,url
    </sql>
    <select id="selectall" resultType="com.bhw.admin.pojo.TServerBean">
        select
        <include refid="BASE_SQL"/>
        FROM T_SERVER
    </select>
</mapper>